/* -------navbar------- */
.navbar-Container{
    width: 100%;
    padding: 5%; 
  }
  .navbar{
    width: 100%;
    height: 100px;
    
  }
  .logo{
    width: 200px !important;
    height: 150px !important;
  }
  .navbar-nav{
    margin-left:70%  
  }
  p{
    font-size: 20px;
    margin-top: 19px;
    margin-left:15px;  
    margin-right: 5px;
  }
  .person{
    width: 60px;
    height: 6SSSS0px;
   
  }
  .menu{
    margin-right:15px; 
    width: 45px;
    height: 45px;
    margin-top: 10px;
  }

