/* Moniter  */

.row{
    width: 100%;
    height: 250px;
    }

.colume {
        width:250px;
        }

.moniter-Container{
                  width: 100%;
                  padding: 5%; 
                  }

.inner-Container{
                  width: 1300px;
                  height: 300px;
                }

.container  {
            width: 100%;
            float: left;
            }
.card-columns{
              column-count: 6;
              column-gap: 22%; 
              }
.card {
      height: 220px;
      width: 220px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      padding: 15px;
      border-radius: 25px;      
      }
.card-1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
  
}
.card img{
    height: 80px;
    width: 80px;
    float: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(68, 65, 65, 0.986);
}


/* -----------button---------------- */
.button-Container{
  margin-left:25%; 
  width: 50%;
  margin-top:2%;
  /* padding: 5%; */
}
.button-inner{
  height: 80px;
  border-radius:50px;
  border: 2px solid whitesmoke;
  padding:10px !important;
  vertical-align: middle;
  margin: 4px;   
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  height: 59px;
  width: 100%;
}

.btn-group p{
  font-size: 18px;
  margin-top:10px; 
  vertical-align: middle;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: red;
color:#FFF;
border-color: red;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid white;
  border-radius: 50px;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid white;
  border-radius: 50px;
}

.btn-danger {
    color: #fff;
    background-color:red;
    border-color: red;}

 /* --------link----------- */
 .link-container{
  width: 40%;
  height: 60px;
  margin-left:35%; 
  margin-top: 3%;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid white !important;
}

a:hover {
  color: red !important;
  font-size: 25px !important;
}
a:active {
  color:red !important;
}
li{
  
  text-decoration-color:white !important;
  margin-top:4px; 
  font-size: 25px;
}
.text-danger{
  color: red !important;
}

/* ------Chart------ */

.chart-container{

width: 100%;
float: left;
}
.card1-columns {
    margin-left: 5%;
    margin-right: 5%;
    column-count:2;
    column-gap: 10%
} 

.col{
  padding: 5%
}
.card1{
    height: 600px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    border-radius: 25px;  
} 
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(68, 65, 65, 0.986);
}
